 <div class=container>




      <div class="row">

           <div class="col-md-8"  >  
 
 <div class="formulaire_contact">
          
              <form  action="/dates" method="POST">   
          
              
              
              <div class="form-group row">
                <label for="nom-input" class="col-2 col-form-label">Titre</label>
                <div class="col-10">
                  <input class="form-control" type="text" placeholder="Au Boui-Boui" id="nom-input"  name="evenement[nom]">
                </div>
              </div>
              
              <div class="form-group row">
                <label for="date_text-input" class="col-2 col-form-label">Quand?</label>
                <div class="col-10">
                  <input class="form-control" type="text" placeholder="tous les weeks-end" id="date_text-input"  name="evenement[date_texte]">
                </div>
              </div>
              
              <div class="form-group row">
                <label for="lien_web-input" class="col-2 col-form-label">Lien web pour la réservation</label>
                <div class="col-10">
                  <input class="form-control" type="text" placeholder="lien_web" id="example-url-input" name="evenement[lien]">
                </div>
              </div>
              
               <div class="form-group row">
              <label for="date-input" class="col-2 col-form-label">date évènement</label>
              <div class="col-10">
                <input class="form-control" type="date" placeholder="date de début" id="date-input"  name="evenement[ladate]">
              </div>
            </div>
            
            <div class="form-group row">
              <label for="afficher-input" class="col-2 form-check-label">Evènement actif ?</label>
              <div class="col-10">
                <input class="form-control" type="checkbox"  id="afficher-input"  name="evenement[afficher]">
              </div>
            </div>
            
            
       
             
              <button type="submit" class="btn btn-primary">Envoyer</button>
              
            </form>     
          
  </div>
  
   </div>
  
   </div>
  
   </div>
  
  
