 <div class="contenu">

                  <div class="sous-contenu">
                      <p class ="titre-contenu">  Actuellement à Lyon toute la semaine, au café théatre le Boui-Boui !</p>
                      <img id="img_spectacle" src= <%= image_path("accueil/affiche.jpg") %> alt="affiche"/>
                      
                  </div>

                  <div class="sous-contenu">
                      <p class ="titre-contenu">  Telerama en parle !</p>
                       <a href="http://sortir.telerama.fr/evenements/spectacles/clemence-de-villeneuve,210184.php"><img id="img-spectacle" src=<%= image_path("accueil/telerama.jpg") %> alt="article"/></a>
                  </div>


                   <div class="sous-contenu">
                     <p class="titre-contenu"> Teaser du spectacle</p>
                      <div  id="eGrW0u0C_FI" class="youtubeVideoLoader">
                      </div>
                   </div>

   </div>