 
     <div class="formulaire_contact">
       
       <h1>
            Merci pour le message <%=@message.prenom%>, <%=@message.nom%>
           
       </h1>
       <p> Nous vous répondrons à cette adresse <%=@message.mail%></p>
       
     </div> 