<div id="reseaux_sociaux_haut">

              <a href="https://www.youtube.com/watch?v=eGrW0u0C_FIhttps://www.youtube.com/watch?v=eGrW0u0C_FI" target="_blank"> <i class="fa fa-youtube-square" aria-hidden="true"></i></a>
            <a href="https://www.facebook.com/people/Cl%C3%A9mence-de-Villeneuve/519459672" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/clemencedevilleneuve/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
</div>