<div id="menu_fixe_droite">
          <div id="bloc_menu_fixe_droite">

            <div class="row" >

                <div id="menu_dates" >

                    <h1>Prochaines dates</h1>
                      <ul class="spectacles">

                        <li><h2>Au Boui-boui à Lyon </h2></li>
                        <li><a href="http://www.billetreduc.com/166853/evt.htm" target="_blank">19h du mardi au samedi jusqu'au 31 décembre 2016 (Réserver ici)</a></li>
                        <li><h2>Au festival Top in Humour</h2></li>
                        <li><a href="http://www.topinhumour.fr/finale-des-tremplins-2016/" target="_blank">le 27 novembre 2016 (Réserver ici)</a></li>
                        <li><h2>Au Boui-boui à Lyon </h2></li>
                        <li><a href="http://www.billetreduc.com/166853/evt.htm" target="_blank">Le week end en 2017 (Réserver ici)</a></li>

                      </ul>

                </div>



            </div>

            <div class="row">


                  <div id="menu_facebook">
                      <h1>Facebook</h1>

                        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FPage-Cl%C3%A9mence-de-Villeneuve-1555509148086811%2F&tabs=timeline&width=300&height=1000&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1699272216991241" width="300" height="1000" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe> 

                   </div>

            </div>

              </div>
</div>